*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    background: linear-gradient(-200deg, #51ff8e, #097f23, #023514);
}

h2{
    text-align: center;
}
form{
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    border-radius: 10px;
    padding: 60px;
    width: min-content;
    align-items: center;
    color: #2b344b;
}

.title{
    margin-bottom: 15%;
}

input{
    min-width: 300px;
    border-radius: 5px;
    border: 2px #0f1d28 solid;
    padding: 5px;
    margin: 0px 0px 12px -5px;
}

#btn{
    width: 100%;
    text-align: center;
    color: #fff;
}

#btn button{
    font-family: sans-serif;
    background:linear-gradient(-50deg, #51ff8e, #097f23, #023514);
    width: 100%;
    height: 30px;
    font-size: 1.2em;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    color: #fff;
}

#btn button:hover{
    background: rgb(10, 208, 10);
}